

h1{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.addBtn {
  border-radius: 25px;
  opacity: 80%;
}

.list-group-item{
  border-radius: 25px;
  border-color: black 50%;
}
.close:hover{
  color: red;
}
.close{
  font-size: 30px !important;
  margin-top: 6px;
}
.close2{
  margin-top: 15px;
  font-size: 20px !important;
  :hover{
    color: darkblue;
  }
}