<h1><img src="../../../assets/logo.png" width="35px" alt="logo"> Your To Do List</h1>

<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{errorMessage}}
</div>
<button type="button" class="btn btn-success addBtn" (click)="add()"><i class="fa fa-plus"></i> Add new TO DO</button>
<p><i class="fa fa-info-circle if"></i> To show your To Do items click on the To Do</p>


  <div class="list-group" *ngFor="let it of items" >
    
    <a class="list-group-item list-group-item-action flex-column align-items-start" (click)="onClick(it.id)" [ngStyle]="{'background-color':it.color}" data-toggle="tooltip" data-placement="top" title="Show To Do Items">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{it.name}}</h5>
        <div>
          
        <button type="button" class="close" aria-label="Close" (click)="deleteItem(it)" data-toggle="tooltip" data-placement="top" title="Delete todo">
          <span aria-hidden="true">&times;</span>
        </button>
        <button type="button" class="close close2" aria-label="Close" (click)="edit(it.id)" data-toggle="tooltip" data-placement="top" title="Edit todo">
          <span aria-hidden="true"><i class="fa fa-edit"></i></span>
        </button>
        
        </div>
      </div>
      <p class="mb-1">{{it.category}}</p>
    </a>
    <br>
  </div>


