.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}
.lightblue {
    background-color: lightblue;
}
.lightgreen {
    background-color: lightgreen;
}
.lightyellow {
    background-color: lightyellow;
}
.lightcoral {
    background-color: lightcoral;
}

.lightsalmon {
    background-color: lightsalmon;
}
.addBtn {
    border-radius: 25px !important;
    width: 200px !important;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
a {
    font-size: 35px;
    color: #007bff !important;
    :hover {
        color: darkblue;
    }
}
