.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: rgb(99, 85, 85);
  color: white;
  font-weight: 600;
}

h5{
  text-transform: uppercase;
}
.toolbar img {
  margin: 0 16px;
}
.toolbar ul {
  display: flex;
  list-style-type: none;
  padding-top: 15px;
}

.toolbar li {
  flex: 1 1 auto;
  display: flex;
}

.toolbar a {
  flex: 1 1 auto;
  text-decoration: none;
  text-align: center;
  padding: 25px;
  color: white;
  font-size: 15px;
}

.toolbar a.active {
  color: blue;
}

.toolbar a:hover {
  color: lightgrey;
}
