
<div class="card" style="width: 18rem;" [ngClass]="setCompleted()" [ngStyle]="{'background-color':todo.color}">
  <button type="button" class="close" aria-label="Close" (click)="deleteTodo(todo)" title="Delete Task!">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="card-body">
    <h5 class="card-title">{{ todo.title }}</h5>
    <hr>
    <span class="t-titels">Catogorie:</span><p class="card-text">{{ todo.catogorie }}</p>
  </div>
  <hr>
  <div class="card-body">
    <span class="t-titels">Description:</span><p class="card-text">{{ todo.description }}</p>
  </div>
<hr>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <button type="button" class="checkbtn" (click)="completeTodo(todo)"><i class="fa fa-check checkicon"></i></button>
      </div>
      <div class="col">
        <button type="button" class="checkbtn" (click)="deleteTodo(todo)"><i class="fa fa-edit"></i></button>
      </div>
    </div>
    <br>
  </div>
</div>
